
    .tg_widget_heading_1{
        margin-top: 0;
    }
    .tg__multi_game {
        padding: 0 !important;
    }
    /* - - - - Primary - - - - */

    body,
    .tg_bg,
    .tg__result_item,
    .tg__live_filter_item {
        background-color: #2B2626;
        color: #fff
    }
    .tg__left_menu_item,
    .live_menu_item_left,
    .live_menu_item_left .tg--left_live_odds,
    .tg__one_game,
    .paperView .champ_list:last-child,
    .tg__match_item_stake,
    .tg--pos_comb_row {
        border-color:#2B2626;
    }

    .tg__submenu__item {
        color: #cccccc;
    }
    .tg__submenu__item.active,
    .tg__submenu__item:hover {
        color: #fff;
    }

    #line_tabs .selectorWrapper, 
    #live_tabs_header .selectorWrapper, 
    #line_tabs .tabsWithMarketFilter, 
    #live_tabs_header .tabsWithMarketFilter{
        background-color: #2B2626;
    }
    
    /* - - - - Widget - - - - - */
    .tg__live_list_header,
    .tg__multiview_content {
        background-color: #352020;
        color: #fff;
    }

    .tg-hero{
        background-color: #352020;
        color: #fff;
    }

    /* - - - - Left Menu Level 1 - - - - */
    .tg__left_menu_item--lvl1 {
        background: #352020;
        color: #fff;
    }
    .tg__left_menu_item--lvl1 .tg__left_menu_item_text,
    .tg__left_menu_item--lvl1  .tg-ico-arrow {
        color: #cccccc;
    }
    
    .ss__step_slider .ss__slider,
    .ss__step_slider .ss__ruller > div {
        background: #cccccc;
    }
    
    .ss__step_slider .ss__slider:hover {
        background: #ffb700;
    }
    
    .ss__step_slider .ss__ruller > .off {
        background: #352020;
    }
    
    /* - - - - Left Menu Level 2 - - - - */
    .tg__left_menu_item--lvl2{
        background: #553333;
        color: #fff;
    }
    .tg__left_menu_item--lvl2 .tg__left_menu_item_text,
    .tg__left_menu_item--lvl2  .tg-ico-arrow {
        color: #cccccc;
    }
    
    /* africanView */
    .africanView .SBhead {
        background: #352020;
        color: #fff;
    }

    .africanView .gameContentTitle {
        background: #2B2626;
        color: #fff;
    }

    .africanView .champCont{
        background: #352020;
        color: #fff;
    }
    
    .africanView .tg_left_tabs {
        background: #553333;
        color: #cccccc;
        border-bottom-color: #ffb700;
    }
    
    .africanView .tg_left_filter_tabs_active {
        color: #ffb700;
    }

    /* - - - - Left Menu Level 3 - - - - */
    .tg__left_menu_item--lvl3,
    .tg__list_row_heading,
    .tg_bet_history_order_row_sub:nth-child(even) {
        background: #553333;
        color: #fff;
    }
    .tg__left_menu_item--lvl3 .tg__left_menu_item_text,
    .tg__left_menu_item--lvl3  .tg-ico-arrow {
        color: #cccccc;
    }
    
    /* - - - - Passive Tab - - - - */
    .tab_selector {
        background: #553333;
        color: #cccccc;
        border-top-left-radius: 0px;
        border-top-right-radius: 0px;
    }
    
     .sportLeftPane .tab_selector  {
        background: #754646;
        color: #fff;
    } 

    .tab_cupon {
        background: #553333;
        color: #cccccc;
        border-top-left-radius: 0px;
        border-top-right-radius: 0px;
    }

    .tab_cupon.tab_selected,
    .tab_cupon:hover {
        background: #352020;
        color: #fff;
    }

    /* - - - - Active Tab - - - - */
    .tab_selector.tab_selector_active,
    .tab_selector:hover,
    .tg_input,
    .tg_subheader_btn,
    .tg_live_center-wrapper .selectorWrapper,
    .tg__live_filter_item.checked{
      background: #352020;
      color: #fff;
    }

    .tg__dropdown_control{
        background: #352020;
        color: #fff;
    }
    
     .sportLeftPane .tab_selector.tab_selector_active  {
        background: #352020;
        color: #fff;
    } 

    /* - - - - Header - - - - */
    .gameContentTitle,
    .tg__result_group_heading {
        background: #352020;
        color: #fff;
    }
    
    /* africanView */
    .africanView .tg--home2__stakeItem {
        background: #553333;
        color: #fff;    
    }
    .africanView .champCont {
        margin: 0px;
    }

    .tg--selected_prem_game{
        border-color: #ffb700; 
    }

    .tg__list_row{
        margin: 0;
        border-top:1px solid #2B2626;
    }
    .tg_bet_history_order_row{
        background: #352020;
        color: #fff;
    }
    .tg_bet_history_order_row_sub {
        background: #553333;
        color: #fff;
    }
    .tg__list_row_sub{
        background: #653d3d;
        color: #fff;
    }
    
    /* - - - - SubHeader - - - - */
    .tg__match_header,
    .tg__prematch_header,
    .live_sport_list .tg__left_menu_item--lvl3,
    .tg__calendar_header,
    .tg__calendar_cont,
    .tg__results_header,
    .tg__res_rus,
    .tg__multibet_heading,
    .tg__score_box,
    .overViewDataDanel .tg__btn_arrow,
    .tg__step_slider,
    .liveFilterContainer  {
        background: #553333;
        color: #fff;
    }
    .tg__home_game_heading {
        background: #553333;
        color: #cccccc;
        border-top: 1px solid #352020;
    }

    /* - - - - Single Game - - - - */
    .tg__one_game,
    .tg__match_item_stake,
    .tg__banner,
    .prematch_event_odds_container,
    .tg__multi_game,
    .live_menu_item_left .tg--left_live_odds,
    .tg__calendar_item,
    .dg1,
    .overviewEventBody,
    .tg_onegame_chb {
        background: #352020;
        color: #cccccc;
    }

    /*popups*/
    .tg_popup_body_static,
    .tg__modal{
        background: #352020;
        color: #fff;
    }
    .tg__modal_header,
    .tg__modal_heading{
        background: #553333;
        color: #fff;
    }
    .tg--close{
        background: #2B2626;
        color: #fff;
    }
    .tg__modal .tg__dropdown_control,
    .tg_popup_body_static .tg__dropdown_control,
    .tg__modal .tg_input,
    .tg_popup_body_static .tg_input{
        background: #544a4a;
        color: #fff;
    }

    .ui-widget-content {
        border-color: #553333;
        background: #352020;
        color: #fff;
    }
    .ui-widget-header{
        border:0;
        background: #352020;
        color: #fff;
    }
    .ui-state-default, 
    .ui-widget-content .ui-state-default, 
    .ui-widget-header .ui-state-default,
    .ui-datepicker-title select {
        border:0;
        background: #2B2626;
        color: #fff;
    }
    .ui-state-highlight, 
    .ui-widget-content .ui-state-highlight, 
    .ui-widget-header .ui-state-highlight,
    .ui-state-active, 
    .ui-widget-content .ui-state-active, 
    .ui-widget-header .ui-state-active,
    .ui-datepicker-calendar .ui-state-hover{
        background: #ffb700;
        color: #000;
    }
    

    .tg__btn-text{
        background: #544a4a;
        color: #fff;
    }

    .tg__one_game_team {
        color: #fff;
    }
    
    .tg__one_game_col,
    .tg__home_game_time,
    .tg__one_game_icons,
    .tg__one_game .maIcons {
        color: #cccccc;
    }
    
    .posCombItem {
      background: #553333;
    }

    /* - - - - Odd - - - - */
    .l_od,
    .l_od_empty {
        background: #2B2626;
        color: #fff;
    }

    /* - - - - Show More - - - - */
    .tg__more {
        background: #2B2626;
        color: #fff;
    }

    /* - - - - Betslip Header - - - - */
    .tg__block_header,
    .tg__info_panel .selectorWrapper {
        background: #553333;
        color: #fff;
    }

    /* - - - - Accent - - - - */
    .tg_sidebar_text_akcent,
    .liveGameSelected .liveSportNamesContainer,
    .left_menu_line_active .tg__left_menu_item_text,
    .tg_widget_text_akcent {
        color: #ffb700;
    }
    
    .tg-ico-cheque_redact.tg-clr-akcent2 {
       color: #ffb700;
    }
    
    .tg_popup_body_static .tab_selector_active {
        border-bottom: 2px solid #ffb700;
    }
    
    .tg-ico-fav.active {
        color: #ffb700;
    }
    
    .tg__fix_btn.checked, .tg__fix_btn:hover {
        color: #ffb700;
    }

    /* - - - - Brand - - - - */
    .l_od:hover,
    .l_od.selectedOdd,
    .tg__btn-ternary {
        background: #ffc533;
        color: #000;
    }

    .tabSelectorHeading {
        color: #ffc533;
    }
    
    /* africanView */
    .africanView .tg--home2__stakeItem:hover,
    .africanView .active .tg--home2__stakeItem,
    .africanView .tg--home2__stakeItem.stItem_active {
        background: #ffc533;
        color: #000;
    }

    /* - - - - BetSlip - - - - */
    .tg__coupon {
        background: #352020;
        color: #cccccc
    }
    .stake_item_panel {
      background: #553333;
      color: #cccccc;
      border-color: #2B2626;
      border-top: 0;
    }
    .coupon_sport_name_container {
      color: #fff;
    }
    
    .tg__btn-coupon {
        background: #553333;
        color: #fff;
    }
    
    .tg--cashout-body, .tg__cashout_popup, .booking_number, .betchecker, .scout_panel, .bet_generator_wrapper  {
        background: #352020;
        color: #fff;
    }
    
    .tg_coin {
        background: #ffb700;
        color: #000;
    }
    
    .tg__match_item_btn {
        background: #2B2626;
        color: #fff;
    }
    .tg--selected_prem_game .tg__match_item_btn{
        background: #ffb700;
        color: #000;
    }
     
    .tg__modal_book_bet .tg__border--color-akcent{
        border-color: #ffb700;
    }

     .tg__modal_book_bet .tg-clr-akcent{
        color: #ffb700;
     }
    
    /* - - - - DropDown - - - - */
    .tg__dropdown_content{
        background: #2B2626;
    }
    .tg__input,
    .tg__info_panel .tg__dropdown_control,
    .tg__dropdown__item,
    .sportRightPane .tg_input {
        background: #544a4a;
        color: #fff;
        border-radius: 0px;
    }
    .sportRightPane .tg_input::placeholder{
        color: #cccccc;
    }
    .tg__search_cont .tg__input{
        background: #352020;
        color: #fff;
    }
    .sportRightPaneRow .tg_subheader_btn {
        background: #352020;
        color: #fff;
    }
    .tg__search_cont .tg__input::placeholder{
        color: #cccccc;
    }
    .tg__search_cont .tg__input-ico{
        color: #fff;
    }
    .tg__info_panel .tg_input_coupon_amount {
        background: #553333;
        color: #fff;
      }
    
    .tg__dropdown_content {
        background: undefined;
    }

    /* - - - - Input - - - - */
    .tg__input {
      background: #352020;
      color: #fff;
    }

    /* - - - - Accent - - - - */
    .tg_sidebar_text_akcent,
    .liveGameSelected .liveSportNamesContainer,
    .left_menu_line_active .tg__left_menu_item_text,
    .tg_widget_text_akcent,
    .tg__coupon_square,
    .tg__score_box,
    .tg__more:hover,
    .tg__btn-coupon:hover {
        color: #ffb700;
    }
    
    .tg__coupon_square{
       background: #553333;
    }
    
    .tg__coupon_factor {
       background: #553333;
       color: #fff
    }

    .es__stepped_slider_cont {
        background: #553333;
        color: #fff;
    }
    
     .tg__badge_live {
        background-color: #352020;
        color: #fff;
       
    }
    
    .tg-ico-date{
        color: #fff;
    }
    
    .tg__switch input:checked + .tg__switch_ico:before {
        background: #ffc533;
     }
    
    /* Colors we can't change */
    .tab_selector_active .tg__badge_live {
         background-color: #CB0000;
         color: #fff;
    }
    
    .tg__switch .tg__switch_ico {
        background-color: #999;
    }

    .tg__switch .tg__switch_ico:before {
       background-color: #fff;
    }



    .tg--coupon-container.tg--coupon-single-tab .tab_selector_active {
        background: transparent !important;
        color: #fff;
    }

    

    

    
  
  .paperView .es__home_bet_header{
    background: #352020;
    color: #fff;
  }
  /*paper view odds*/
 .paperView .component_odd_empty,
 .paperView .component_odd,
 .paperView .component_odd.selectedOdd{
     background: #2B2626;
     color: #fff;
 }
 .paperView .component_odd:hover,
 .paperView .component_odd_empty:hover,
 .paperView .EUodds:hover,
 .paperView .EUodds.selectedOdd,
 .paperView .component_odd.selectedOdd {
     background: #ffc533;
     color: #000;
 }
 .showC {
    background: #352020;
    color: #fff;
 }


 /*border radius*/
 .tg__btn,
 .l_od, .l_od_empty,
 .paperView .component_odd_empty,
 .paperView .component_odd,
 .paperView .component_odd.selectedOdd{
    border-radius: 0px;
 }


 .sportHeaderPane,
 #header_fix,
 .tg__footer {
    display: none !important;
 }

/*esport*/
#e-sport-root .esp_layout_main{
    background: #2B2626 !important;
    color: #fff !important;
}
#e-sport-root .esp_main_header{
    background: #352020 !important;
    color: #fff !important;
}

  
  