
    /* - - - - Primary - - - - */

    body,
    .tg_bg,
    .tg__result_item,
    .tg__live_filter_item {
        background-color: #063503;
        color: #fff
    }
    .tg__left_menu_item,
    .live_menu_item_left,
    .live_menu_item_left .tg--left_live_odds,
    .tg__one_game,
    .paperView .champ_list:last-child {
        border-color:#063503;
    }

    .tg__submenu__item {
        color: #cccccc;
    }
    .tg__submenu__item.active,
    .tg__submenu__item:hover {
        color: #fff;
    }
    
    /* - - - - Widget - - - - - */
    .tg__live_list_header {
        background-color: #0b6506;
        color: #fff;
    }

    /* - - - - Left Menu Level 1 - - - - */
    .tg__left_menu_item--lvl1 {
        background: #0b6506;
        color: #fff;
    }
    .tg__left_menu_item--lvl1 .tg__left_menu_item_text,
    .tg__left_menu_item--lvl1  .tg-ico-arrow {
        color: #cccccc;
    }
    
    .ss__step_slider .ss__slider,
    .ss__step_slider .ss__ruller > div{
        background: #fff;
    }

    /* - - - - Left Menu Level 2 - - - - */
    .tg__left_menu_item--lvl2,
    .tg_bet_history_order_row_sub {
        background: #0e8208;
        color: #fff;
    }
    .tg__left_menu_item--lvl2 .tg__left_menu_item_text,
    .tg__left_menu_item--lvl2  .tg-ico-arrow {
        color: #cccccc;
    }
    
    /* africanView */
    .africanView .SBhead {
        background: #0b6506;
        color: #fff;
    }

    .africanView .gameContentTitle {
        background: #063503;
        color: #fff;
    }

    .africanView .champCont{
        background: #0b6506;
        color: #fff;
    }

    /* - - - - Left Menu Level 3 - - - - */
    .tg__left_menu_item--lvl3,
    .tg__list_row_heading,
    .tg_bet_history_order_row_sub:nth-child(even) {
        background: #0e8208;
        color: #fff;
    }
    .tg__left_menu_item--lvl3 .tg__left_menu_item_text,
    .tg__left_menu_item--lvl3  .tg-ico-arrow {
        color: #cccccc;
    }
    
    /* - - - - Passive Tab - - - - */
    .tab_selector {
        background: #0e8208;
        color: #cccccc;
        border-top-left-radius: 0px;
        border-top-right-radius: 0px;
    }

    .tab_cupon {
        background: #0e8208;
        color: #cccccc;
        border-top-left-radius: 0px;
        border-top-right-radius: 0px;
    }

    .tab_cupon.tab_selected,
    .tab_cupon:hover {
        background: #0b6506;
        color: #fff;
    }

    /* - - - - Active Tab - - - - */
    .tab_selector.tab_selector_active,
    .tab_selector:hover,
    .tg__dropdown_control,
    .tg_input,
    .tg_subheader_btn,
    .tg_live_center-wrapper .selectorWrapper,
    .tg__live_filter_item.checked{
      background: #0b6506;
      color: #fff;
    }

    /* - - - - Header - - - - */
    .gameContentTitle,
    .tg__result_group_heading {
        background: #0b6506;
        color: #fff;
    }
    
    /* africanView */
    .africanView .tg--home2__stakeItem {
        background: #0e8208;
        color: #fff;    
    }
    .africanView .champCont {
        margin: 0px;
    }

    /* - - - - SubHeader - - - - */
    .tg__match_header,
    .tg__prematch_header,
    .live_sport_list .tg__left_menu_item--lvl3,
    .tg__calendar_header,
    .tg__calendar_cont,
    .tg__results_header,
    .tg__res_rus,
    .tg__multibet_heading,
    .tg__score_box,
    .overViewDataDanel .tg__btn_arrow,
    .tg__modal_header,
    .tg__modal_heading,
    .tg_bet_history_order_row {
        background: #063503;
        color: #fff;
    }
    .tg__home_game_heading {
        background: #063503;
        color: #cccccc;
        border-top: 1px solid #0b6506;
    }

    /* - - - - Single Game - - - - */
    .tg__one_game,
    .tg__banner,
    .prematch_event_odds_container,
    .tg__multi_game,
    .live_menu_item_left .tg--left_live_odds,
    .tg__calendar_item,
    .dg1,
    .overviewEventBody,
    .tg_popup_body_static,
    .tg__modal,
    .tg_bet_history_order_row:nth-child(even) {
        background: #0b6506;
        color: #cccccc;
    }

    .tg__one_game_team {
        color: #fff;
    }
    
    .tg__one_game_col,
    .tg__home_game_time,
    .tg__one_game_icons,
    .tg__one_game .maIcons {
        color: #cccccc;
    }

    /* - - - - Odd - - - - */
    .l_od,
    .l_od_empty {
        background: #063503;
        color: #fff;
    }

    /* - - - - Show More - - - - */
    .tg__more {
        background: #063503;
        color: #fff;
    }

    /* - - - - Betslip Header - - - - */
    .tg__block_header,
    .tg__info_panel .selectorWrapper {
        background: #0e8208;
        color: #fff;
    }

    /* - - - - Accent - - - - */
    .tg_sidebar_text_akcent,
    .liveGameSelected .liveSportNamesContainer,
    .left_menu_line_active .tg__left_menu_item_text,
    .tg_widget_text_akcent,
    .tg__coupon_square {
        color: #ffb700;
    }
    
    .tg_popup_body_static .tab_selector_active {
        border-bottom: 2px solid #ffb700;
    }

    /* - - - - Brand - - - - */
    .l_od:hover,
    .l_od.selectedOdd,
    .tg__btn-ternary {
        background: #ffc533;
        color: #000;
    }

    .tabSelectorHeading {
        color: #ffc533;
    }
    
    /* africanView */
    .africanView .tg--home2__stakeItem:hover {
        background: #ffc533;
        color: #000;
    }

    /* - - - - BetSlip - - - - */
    .tg__coupon {
        background: #0b6506;
        color: #cccccc
    }
    .stake_item_panel {
      background: #0e8208;
      color: #cccccc;
      border-color: #063503;
    }
    .coupon_sport_name_container {
      color: #fff;
    }
    
    .tg__btn-coupon {
        background: #095205;
        color: #fff;
    }
    
    .tg--cashout-body, .tg__cashout_popup, .booking_number, .betchecker, .scout_panel, .bet_generator_wrapper  {
        background: #0b6506;
        color: #fff;
    }
    
    /* - - - - DropDown - - - - */
    .tg__input,
    .tg__info_panel .tg__dropdown_control,
    .tg__dropdown__item,
    .sportRightPane .tg_input {
        background: #063503;
        color: #fff;
        border-radius: 0px;
    }
    .sportRightPane .tg_input::placeholder{
        color: #cccccc;
    }
    .tg__search_cont .tg__input{
        background: #0b6506;
        color: #fff;
    }
    .tg__search_cont .tg__input::placeholder{
        color: #cccccc;
    }
    .tg__search_cont .tg__input-ico{
        color: #fff;
    }
    .tg__info_panel .tg_input_coupon_amount {
        background: #0e8208;
        color: #fff;
      }
    
    .tg__dropdown_content {
        background: undefined;
    }

    /* - - - - Input - - - - */
    .tg__input {
      background: #0b6506;
      color: #fff;
    }

    /* - - - - Accent - - - - */
    .tg_sidebar_text_akcent,
    .liveGameSelected .liveSportNamesContainer,
    .left_menu_line_active .tg__left_menu_item_text,
    .tg_widget_text_akcent,
    .tg__coupon_square,
    .tg__score_box,
    .tg__more:hover,
    .tg__btn-coupon:hover {
        color: #ffb700;
    }

    .es__stepped_slider_cont {
        background: #063503;
        color: #fff;
    }
    
    /* Colors we can't change */
    .tg__badge_live {
        background-color: #CB0000;
        color: #fff;
    }

    .tg--coupon-container.tg--coupon-single-tab .tab_selector_active {
        background: transparent !important;
        color: #fff;
    }

    

    

    
  
  .paperView .es__home_bet_header{
    background: #0b6506;
    color: #fff;
  }
  /*paper view odds*/
 .paperView .component_odd_empty,
 .paperView .component_odd,
 .paperView .component_odd.selectedOdd{
     background: #063503;
     color: #fff;
 }
 .paperView .component_odd:hover,
 .paperView .component_odd_empty:hover,
 .paperView .EUodds:hover,
 .paperView .EUodds.selectedOdd,
 .paperView .component_odd.selectedOdd {
     background: #ffc533;
     color: #000;
 }
 .showC {
    background: #0b6506;
    color: #fff;
 }


 /*border radius*/
 .tg__btn,
 .l_od, .l_od_empty,
 .paperView .component_odd_empty,
 .paperView .component_odd,
 .paperView .component_odd.selectedOdd{
    border-radius: 0px;
 }


 .sportHeaderPane,
 #header_fix,
 .tg__footer {
    display: none !important;
 }
  
  