
    /* - - - - Primary - - - - */
    .tg_bg,
    .tg__result_item,
    .tg__live_filter_item {
        background-color: #161616;
        color: #fff
    }
    .tg__left_menu_item,
    .live_menu_item_left,
    .live_menu_item_left .tg--left_live_odds,
    .tg__one_game {
        border-color:#161616;
    }
    
    .tg__submenu__item {
        color: #cccccc;
    }
    .tg__submenu__item.active,
    .tg__submenu__item:hover {
        color: #fff;
    }
    
    /* - - - - Widget - - - - - */
    .tg_widget_bg,
    .tg__live_list_header {
        background-color: #2f2f2f;
        color: #fff;
    }

    /* - - - - Left Menu Level 1 - - - - */
    .tg__left_menu_item--lvl1 {
        background: #2f2f2f;
        color: #fff;
    }
    
    .ss__step_slider .ss__slider,
    .ss__step_slider .ss__ruller > div{
        background: #fff;
    }

    /* - - - - Left Menu Level 2 - - - - */
    .tg__left_menu_item--lvl2,
    .tg_bet_history_order_row_sub {
        background: #2f2f2f;
        color: #fff;
    }
    
    /* africanView */
    .africanView .SBhead {
        background: #2f2f2f;
        color: #fff;
    }

    /* - - - - Left Menu Level 3 - - - - */
    .tg__left_menu_item--lvl3,
    .tg__list_row_heading,
    .tg_bet_history_order_row_sub:nth-child(even) {
        background: #2f2f2f;
        color: #fff;
    }
    
    /* - - - - Passive Tab - - - - */
    .tab_selector,
    .tab_cupon {
        background: #2f2f2f;
        color: #fff;
        border-top-left-radius: 6px;
        border-top-right-radius: 6px;
    }

    /* - - - - Active Tab - - - - */
    .tab_selector.tab_selector_active,
    .tab_selector:hover,
    .tg__dropdown_control,
    .tg_input,
    .tg_subheader_btn,
    .tg_live_center-wrapper .selectorWrapper,
    .tg__live_filter_item.checked,
    .tab_cupon.tab_selected,
    .tab_cupon:hover {
      background: #3e3e3e;
      color: #fff;
    }

    /* - - - - Header - - - - */
    .gameContentTitle,
    .tg__result_group_heading {
        background: #2f2f2f;
        color: #fff;
    }
    
    /* africanView */
    .africanView .tg--home2__stakeItem {
        background: #2f2f2f;
        color: #fff;    
    }

    /* - - - - SubHeader - - - - */
    .tg__match_header,
    .tg__prematch_header,
    .live_sport_list .tg__left_menu_item--lvl3,
    .tg__calendar_header,
    .tg__calendar_cont,
    .tg__results_header,
    .tg__res_rus,
    .tg__multibet_heading,
    .tg__score_box,
    .overViewDataDanel .tg__btn_arrow,
    .tg__modal_header,
    .tg__modal_heading,
    .tg_bet_history_order_row {
        background: #161616;
        color: #fff;
    }
    .tg__home_game_heading {
        background: #161616;
        color: #cccccc;
    }

    /* - - - - Single Game - - - - */
    .tg__one_game,
    .tg__banner,
    .prematch_event_odds_container,
    .tg__multi_game,
    .live_menu_item_left .tg--left_live_odds,
    .tg__calendar_item,
    .dg1,
    .overviewEventBody,
    .tg_popup_body_static,
    .tg__modal,
    .tg_bet_history_order_row:nth-child(even) {
        background: #2f2f2f;
        color: #fff;
    }
    
    .tg__one_game_col,
    .tg__home_game_time,
    .tg__one_game_icons,
    .tg__one_game .maIcons {
        color: #cccccc;
    }

    /* - - - - Odd - - - - */
    .l_od,
    .l_od_empty {
        background: #161616;
        color: #fff;
    }

    /* - - - - Show More - - - - */
    .tg__more {
        background: #161616;
        color: #fff;
    }

    /* - - - - Betslip Header - - - - */
    .tg__block_header {
        background: #2f2f2f;
        color: #fff;
    }

    /* - - - - Accent - - - - */
    .tg_sidebar_text_akcent,
    .liveGameSelected .liveSportNamesContainer,
    .left_menu_line_active .tg__left_menu_item_text,
    .tg_widget_text_akcent,
    .tg__coupon_square {
        color: #ffb700;
    }
    
    .tg_popup_body_static .tab_selector_active {
        border-bottom: 2px solid #ffb700;
    }

    /* - - - - Brand - - - - */
    .l_od:hover,
    .l_od.selectedOdd,
    .tg__btn-ternary {
        background: #ffc533;
        color: #000;
    }

    .tabSelectorHeading {
        color: #ffc533;
    }
    
    /* africanView */
    .africanView .tg--home2__stakeItem:hover {
        background: #ffc533;
        color: #000;
    }

    /* - - - - BetSlip - - - - */
    .tg__coupon .tg--coupon-bg {
        background: #3e3e3e;
        color: #cccccc
    }
    .stake_item_panel {
      background: #3e3e3e;
      color: #cccccc;
      border-color: #161616;
    }
    .coupon_sport_name_container {
      color: #fff;
    }
    
    .tg__btn-coupon {
        background: #252525;
        color: #fff;
    }
    
    .tg--cashout-body, .tg__cashout_popup, .booking_number {
        background-color: #3e3e3e;
        color: #fff;
    }
    
    /* - - - - DropDown - - - - */
    .tg__input,
    .tg__input-ico,
    .tg__info_panel .tg__dropdown_control,
    .tg__dropdown__item,
    .sportRightPane .tg_input {
        background: #2f2f2f;
        color: #fff;
    }
    .tg__info_panel .tg_input_coupon_amount {
        background: #2f2f2f;
        color: #fff;
      }
    
    .tg__dropdown_content {
        background: undefined;
    }

    /* - - - - Sections - - - - */
    .tg__info_panel {
        background: #2f2f2f;
        color: #fff;
    }

    /* - - - - Input - - - - */
    .tg__input {
      background: undefined;
      color: undefined;
    }

    /* - - - - Accent - - - - */
    .tg_sidebar_text_akcent,
    .liveGameSelected .liveSportNamesContainer,
    .left_menu_line_active .tg__left_menu_item_text,
    .tg_widget_text_akcent,
    .tg__coupon_square,
    .tg__score_box,
    .tg__more:hover,
    .tg__btn-coupon:hover {
        color: #ffb700;
    }
    
    /* Colors we can't change */
    .tg__badge_live {
        background-color: #CB0000;
        color: #fff;
    }

      
  /*make tournament icons visible on bright background*/
    [class^='digi_tournament_']:before,
    [class*=' digi_tournament_']:before {
      border-radius: 3px;
      border: 2px solid #464646;
      box-sizing: content-box;
      background-repeat: no-repeat;
      background-color: #3e3e3e;
  }