
    /* Rules page */
    .logo {
        background: url('images/ClientLogo/undefined/big.png') no-repeat;
        width: 115px;
        height: 36px;
        background-size: contain;
    }
    @media screen and (max-width: 1024px) {
        .logo {
            background: url('images/ClientLogo/undefined/sm.png') no-repeat;
            width: 30px;
            height: 30px;
            background-size: contain;
        }
    }
    body {
        background-color: #222222;
    }
    header{ 
        background: undefined; 
        box-shadow: 3px 1px 4px #000;
    }
    .languages .select-list,
    .langRow{ 
        background-color: #892626; 
    }
    .langRow .txt{
        color: #cccccc;
    }
    .langRow:hover{ 
         background-color: #9d2c2c;
    }
    .languages #selLang > a {
        border-radius: undefinedpx;
    }
    .expandable-list{ 
         background-color: #222222; 
    }
    .main-col {
        background: #611B1B;
        color: #fff;
    }
    .expandable-list .menuleft .menuleftа {
        background: undefined; 
        color: undefined;
    }
    .expandable-list .menuleft .menuleftа:hover{
        background: undefined;
    }
    .expandable-list .menuleft ul li a{ 
        background-color: undefined; 
        color: undefined;
    }
    .expandable-list .menuleft ul li a:hover{
        background-color: undefined;
    }
    .expandable-list .menuleft ul li.active a{
        background-color: undefined; 
    }
    .content-head{ 
        color: #ffb700;
    }
    .mob_nav{
        color: #cccccc;  
    }
    .subMenu .arrow,
    .languages #selLang > a:after{
        color: #cccccc;
    }
  
  