
        #dm-main-container.dm__wrapper {
            background-color: #161616; 
        }
        .dm__collapse__home{
            background: linear-gradient(0deg, #333333 0%, #555555 100%); 
            color: #ffb700; 
            border-color: #ffb700; 
        }
        .dm__collapse__home .dm__ico_arrow{
            color: #fff;
        }
        .dm__event_row-flags,
        .dm__championship__header {
            background-color: #333333; 
            color: #fff; 
            border-color: #161616; 
        }
        .dm__custom_select__wrapper--live {
            background-color: #333333; 
            color: #fff; 
        }
        .dm__homepage__sport_singlegames,
        .dm__homepage__sport_singlegames_cont {
            background-color: #161616;
        }
        .dm-count-bubble {
            background-color: #ffb700;
            color: #000;
        }
        .dm__go_back,
        .dm__font-fav,
        .dm__mybets__more .dm--svg-icon {
            color: #fff;
            fill: #fff;
        }
        .dm__favorite-added,
        .dm__font_cup{
            color: #ffb700;
        }
        .dm__market_collapser{
            background-color: #424242; 
            color: #fff; 
        }
        .dm__homepage__sport_section__item{
            background-color: #333333; 
            color: #fff; 
        }
        .dm__homepage__sport_section__market_head,
        .dm__homepage__sport_section__market_head .dm--input-select-value {
            background-color: #424242; 
            color: #fff; 
        }
        .dm__homepage__sport_tournament_heading,
        .dm__custom_select__heading{
            background-color: #000000; 
            color: #fff; 
        }
        
        .dm__custom_select__item {
            background-color: #333333;
            color: #fff;
        }
        .dm__custom_select__item.dm--selected  {
            background-color: #424242;
        }
        
        .dm__single_game,
        .dm__mybets_game .dm__mybets_game__info {
            background: linear-gradient(0deg, #333333 0%, #555555 100%); 
            color: #fff; 
        }
        .dm__mybets_game__info .dm--akcented,
        .dm__mybets-res-row.dm--akcent{
            color: #ffb700;   
        }
        a.dm__single_game__link {
            color: #fff; 
        }
        .dm__single_game__link .dm__scores{
            color: #ffb700; 
        }
        .dm__single_game__link .dm__time,
        .dm__single_game__link .dm__font-tv--onegame,
        .dm__single_game__link .dm__more{
            color: #cccccc; 
        }
        .dm__favorite-added{
            color: #ffb700; 
        }
        /*betslip pin*/
        .dm__betslip_btn__count{
            background: #ffb700; 
            color: #000; 
            border-color: #fff; 
        }
        .dm__betslip_btn{
            background-color: #fff; 
            color: #2b2b2b; 
            border-right-color: #ffb700; 
        }
        
        /* tabs */
        .dm__tabs_container {
            background-color: #161616; 
            border-bottom-color: #161616;
        }
        
        .dm__tabs_container .dm__tabs__item{
            background-color: #161616; 
            color: #fff; 
        }
        
        .dm__tabs_container .dm__tabs__item.dm__tabs__item-active{
            background-color: #333333; 
            color: #ffb700; 
        }
      
        .dm__tabs_container .dm__tabs__item-active .dm__menu__fav_count {
            background-color: #ffb700;
            color: #000;
        }
        
        .dm--tabs-event.dm__market_collapser{
            background-color: #161616;
            border-bottom-color: #161616;
        }
        .dm--tabs-event.dm__market_collapser .dm__font_arrows{
            color: #fff;
        }
        
        .dm__homepage__multibet_heading {
            background-color: #000000;
            color: #fff;
        }
        .dm__multibet_odd {
            background-color: #000000;
            color: #fff;
        }
        .dm__multibet_total_container {
            background-color: #333333;
            color: #fff;
        }
        .dm__multibet_total_factor {
            background-color: #424242;
            color: #ffb700;
        }
        .dm__multibet_btn{
            background-color: #ffb700;
            color: #000;
        }
        .dm__live_game_notice {
            background-color: #424242;
            color: #cccccc;
        }
        .dm__cashout_badge{
            background-color: #424242;
            color: #cccccc;
        }
        .dm__image_header-devider{
            border-color: #ffb700;
        }
        .dm__image_header-devider{
            color: #ffb700;
        }
        .dm__radio-slider,
        .dm__radio-slider:after{
            background-color: #999;
        }
        .dm__radio-slider-cont .dm__radio-hide:checked+.dm__radio-slider:after{
            background-color: #ffb700;
        }
        .dm__event_row-flags-sub,
        .dm__event_row-championships {
            background-color: #424242;
            color: #fff;
        }
        .dm__betslip__body,
        .dm__betslip__options__row{
            background-color: #161616;
            color: #fff;
        }
        .dm__betslip__bet{
            background-color: #333333;
            color: #cccccc;
        }
        .dm__betslip__bet .dm__stake_name_link {
            color: #fff;
        }
        .dm__betslip__bet__factor .dm__bf,
        .dm--possible-winning-count{
            color: #ffb700;
        }
        
        .dm__betslip_stake_trigger_text .dm__dtt__number,
        .dm__betslip_tour {
            background-color: #333333;
            color: #ffb700;
        }
        
        .dm__btn--keyboard,
        .dm__btn--betslip,
        .dm__btn{
            background-color: #333333;
            color: #cccccc;
        }
    
        /* btn */
        .dm__btn-bet,
        .dm__btn--primary,
        .dm__tournament-prize{
           background-color: #ffb700!important;
           color: #000!important;
        }
        
        /*popups*/
        .dm__popup-bg,
        .dm__custom_select__button{
            background-color: #161616;
            color: #fff;
        }
        .dm__keyboard_trigger,
        .dm--input-imit,
        .dm--input-select,
        .dm--input,
        .dm--input-calendar input{
            background-color: #333333!important;
            color: #cccccc!important;
        }
        .dm-table{
            background-color: #333333;
            color: #cccccc;
            border-bottom:1px solid #161616;
        }
        .dm-table .dm-table-l{
            color: #cccccc;
        }
        .dm-table .dm-table-r{
            color: #fff;
        }
        .dm__custom_select__wrapper{
            background-color: #161616 !important;
            color: #fff;
        }
        
        /* calendar */
        .dm__calendar-row{
            background-color: #333333;
            color: #fff;
        }
        .dm__calendar-row.active{
            ackground-color: #424242
        }
        .dm__calendar__time {
            color: #ffb700;
        }



        
        /*styled components part*/
        .kcvRvI {
            width: 56px;
            height: 56px;
            font-size: 16px;
            font-weight: 500;
            text-align: center;
            display: flex;
            -webkit-box-pack: center;
            justify-content: center;
            flex-direction: column;
            flex-shrink: 0;
            position: relative;
            padding: 0px 5px;
            margin-right: 1px;
            transition: background-color 0.2s ease 0s;
            background: undefined;
            color: #fff;
            border-radius: undefinedpx;
        }
        .eLozvU {
            background: #ffb700;
            color: #000;
        }

        .eXsTpK{
            display: -webkit-box;
            display: -webkit-flex;
            display: -ms-flexbox;
            display: flex;
            -webkit-align-items: center;
            -webkit-box-align: center;
            -ms-flex-align: center;
            align-items: center;
            height: 44px;
            position: relative;
            z-index: 99;
            background-color: #333333;
            box-shadow: 0 2px 2px rgba(0,0,0,0.1);
        }
        .eXsTpK > a.active, .eXsTpK > a[data-active] {
            color: #ffb700 !important;
        }
        .eXsTpK > a {
            width: 100%;
            height: 100%;
            font-size: 11px;
            font-weight: 500;
            text-align: center;
            text-transform: uppercase;
            display: -webkit-box;
            display: -webkit-flex;
            display: -ms-flexbox;
            display: flex;
            -webkit-align-items: center;
            -webkit-box-align: center;
            -ms-flex-align: center;
            align-items: center;
            -webkit-box-pack: center;
            -webkit-justify-content: center;
            -ms-flex-pack: center;
            justify-content: center;
            color: #cccccc !important;
        }
        .hdaIps {
            display: inline-block;
            direction: ltr !important;
            font-family: 'SportDigi Standard Icons',sans-serif !important;
            text-rendering: auto;
            font-weight: normal;
            font-style: normal;
            font-size: 28px;
            text-transform: none;
            text-align: center;
            color: inherit;
            -webkit-transition: inherit;
            transition: inherit;
        }
        .hdaIps::before {
            content: '\f046';
        }

        /*slider*/
        .qUdih {
            position: relative;
        }  
        .ckDZSk {
            position: relative;
            width: 100%;
            height: 70px;
            z-index: 11;
            display: -webkit-box;
            display: -webkit-flex;
            display: -ms-flexbox;
            display: flex;
            background-color: #161616;
            box-shadow: 0 3px 5px 0 rgba(0,0,0,0.4);
            overflow-x: auto;
            overflow-y: hidden;
            -webkit-overflow-scrolling: touch;
        }
        .dfCLPk a {
            -webkit-text-decoration: none;
            text-decoration: none;
        }
        .bSpNwH {
            width: 20%;
            display: -webkit-box;
            display: -webkit-flex;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-pack: center;
            -webkit-justify-content: center;
            -ms-flex-pack: center;
            justify-content: center;
            -webkit-flex-shrink: 0;
            -ms-flex-negative: 0;
            flex-shrink: 0;
        }
        .JhGiQ {
            display: -webkit-box;
            display: -webkit-flex;
            display: -ms-flexbox;
            display: flex;
            -webkit-align-items: center;
            -webkit-box-align: center;
            -ms-flex-align: center;
            align-items: center;
            position: relative;
            -webkit-transition: color 0.2s ease;
            transition: color 0.2s ease;
            color: #cccccc;
            width: 70px;
            -webkit-flex-direction: column;
            -ms-flex-direction: column;
            flex-direction: column;
            padding-top: 15px;
            padding-right: 3px;
            padding-left: 3px;
            border-bottom: 4px solid transparent;
            border-right: 1px solid transparent;
            border-left: 1px solid transparent;
        }
        .kFAcWh {
            text-align: center;
            margin-bottom: 2px;
        }     
        .jWlcgU {
            display: inline-block;
            direction: ltr !important;
            font-family: 'SportDigi Sport Icons',sans-serif !important;
            text-rendering: auto;
            font-weight: normal;
            font-style: normal;
            font-size: 25px;
            text-transform: none;
            text-align: center;
            color: inherit;
            -webkit-transition: inherit;
            transition: inherit;
        }
        .jWlcgU::before {
            content: '\f060';
        }
        .FmHtl {
            font-size: 8px;
            font-weight: var(--font-weight-base);
            line-height: 12px;
            text-align: center;
            display: -webkit-box;
            -webkit-line-clamp: 2;
            -webkit-box-orient: vertical;
            overflow: hidden;
        } 
        .kZNLtc {
            position: absolute;
            top: 4px;
            right: 0;
            text-align: right;
            font-size: 8px;
            color: #cccccc;
        }
        .jjVbBO {
            display: -webkit-box;
            display: -webkit-flex;
            display: -ms-flexbox;
            display: flex;
            -webkit-align-items: center;
            -webkit-box-align: center;
            -ms-flex-align: center;
            align-items: center;
            position: relative;
            -webkit-transition: color 0.2s ease;
            transition: color 0.2s ease;
            width: 70px;
            -webkit-flex-direction: column;
            -ms-flex-direction: column;
            flex-direction: column;
            padding-top: 15px;
            padding-right: 3px;
            padding-left: 3px;
            border-bottom: 4px solid transparent;
            border-right: 1px solid transparent;
            border-left: 1px solid transparent;
            color: #ffb700;
        }
        .jWlcgU::before {
            content: '\f060';
        }

        /*horisontal slider tabs*/
        .kZrurd {
            position: relative;
        }
        .dDpXlZ {
            position: relative;
            width: 100%;
            display: -webkit-box;
            display: -webkit-flex;
            display: -ms-flexbox;
            display: flex;
            background: #161616;
            border-bottom: 2px solid #161616;
            overflow-x: auto;
            overflow-y: hidden;
            -webkit-overflow-scrolling: touch;
        }
        .iGlHTV {
            display: -webkit-box;
            display: -webkit-flex;
            display: -ms-flexbox;
            display: flex;
            -webkit-align-items: center;
            -webkit-box-align: center;
            -ms-flex-align: center;
            align-items: center;
            position: relative;
            -webkit-transition: color 0.2s ease;
            transition: color 0.2s ease;
            height: 42px;
            padding: 0 19px;
            color: #06D060;
            background: linear-gradient(0deg, #333333 0%, #555555 100%);
            color: #fff;
        }
      