<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>sport web</title>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap" rel="stylesheet">
    <!-- <script src="https://sport.betadigitain.com/js/partner/bootstrapper.min.js"></script> -->
    <link rel="stylesheet" href="/sportAssets/Css/common.css">
    <link rel="stylesheet" href="/sportAssets/Css/CommonControls.css">
    <link rel="stylesheet" href="/sportAssets/Css/mainV1.css">
    <link rel="stylesheet" href="/style.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@simonwep/pickr/dist/themes/classic.min.css" />

</head>

<body>
    <%- nav %>
    <div id="loader">...loading</div>
    <div id="sport_div_iframe"></div>
</body>


<script src="/tinyColor.js"></script>
<script src="/cuid.js"></script>
<script src="/neuron.js"></script>
<script src="/cssTemplates/sportWeb.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@simonwep/pickr/dist/pickr.min.js"></script>

<script src="https://localhost:44397/js/Partner/IntegrationLoader.js"></script>
<script src="/skinner.js"></script>
<script>
    var loaderDiv = document.getElementById('loader');
    var sport_div_iframe = document.getElementById('sport_div_iframe');
    sport_div_iframe.style.opacity = 0;
    sport_div_iframe.style.transition = 'all 0.314s';

    loaderDiv.style.opacity = 1;
    loaderDiv.style.transition = 'all 0.314s';

    var searchParams = new URLSearchParams(location.search);
    var bookingNumber = searchParams.get('bookingNumber');

    SportFrame.frame([
        ['server', 'https://localhost:44397/'],
        ['language', 'en'],
        ['login', 'LoginTrigger'],
        ['registration', 'RegisterTrigger'],
        ['withdraw', 'WithdrawalTrigger'],
        ['currentPage', 'Home'],
        ['device', 'd'],
        ['fixedHeight', true],
        ['bookingNumber', +bookingNumber], // 35638,
        ['eventsHandler', function () {
            // console.log(arguments)
        }]
    ]);
    SportFrame.elem.onload = function(){

        var head = document.getElementsByTagName("head")[0];
        var style = document.createElement("style");
        style.setAttribute("type", "text/css");
        head.appendChild(style);

        let _createJs = window.createJs ? window.createJs : null;

        let colors = [
            {name:"widget",value:"#333",fallback:"primary",variation:""},
            {name:"brand",value:"#f14100",fallback:"accent",variation:""},
            {name:"odd",value:"#161616",fallback:"primary",variation:"Bg"},
            {name:"showMore",value:"#242424",fallback:"primary",variation:"Bg"},
            {name:"header",value:"#333",fallback:"widget",variation:"Bg"},
            {name:"subHeader",value:"#161616",fallback:"widget",variation:""},
            {name:"singleGame",value:"#333",fallback:"widget",variation:"Bg"},
            {name:"leftMenuLevel_A",value:"#333",fallback:"widget",variation:"Bg"},
            {name:"leftMenuLevel_B",value:"#444",fallback:"widget",variation:""},
            {name:"betSlip",value:"#333",fallback:"widget",variation:"Bg"},
            {name:"betSlipStake",value:"#444",fallback:"widget",variation:""},
            {name:"betSlipInput",value:"#262626",fallback:"betSlip",variation:""},
            {name:"betSlipButton",value:"#1A1A1A",fallback:"betSlip",variation:""},
            {name:"popupHeader",value:"#262626",fallback:"widget",variation:""},
            {name:"popup",value:"#333",fallback:"widget",variation:"Bg"},
            {name:"activeTab",value:"#333",fallback:"widget",variation:"Bg"},
            {name:"tab",value:"#2b2b2b",fallback:"widget",variation:""},
            {name:"sideBarActiveTab",value:"#333",fallback:"widget",variation:"Bg"},
            {name:"sideBarTab",value:"#2b2b2b",fallback:"widget",variation:""},
            {name:"input",value:"#333",fallback:"widget",variation:"Bg"},
            {name:"widgetInput",value:"#2b2b2b",fallback:"primary",variation:"Bg3"},
        ];

        var SkinnerInstance = new Skinner(createCss, _createJs, colors);

        SkinnerInstance.init();

        sport_div_iframe.style.opacity = 1;
        loaderDiv.style.opacity = 0;
        loaderDiv.style.display = 'none';
    }
</script>


<script>

</script>








</html>