<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>mobile view</title>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap" rel="stylesheet">
    

    <link rel="stylesheet" href="/mobileAssets/Css/app.css">

    <link rel="stylesheet" href="/style.css">


</head>

<body>
    <%- nav %>
    <div id="root" class="dm--cont">
        <div id="dm-main-container" class="sc-bdnylx dm--cont dm__wrapper dm--sport-platform">
            <div class="dm__wrapper__inner dm-h-100 dm-z-index-1">
                <a>
                    <div class="dm__betslip_btn dm-display-flex dm--align-center dm--justify-end dm__betslip_btn-show">
                        <div class="dm__betslip_btn__count">5</div>
                        <div class="dm__betslip_btn__odds dm-display-flex dm--flex-col dm__row_right_side">
                            <div class="dm-display-flex dm--flex-wrap dm--justify-end" style="max-width: 50px;">
                                <span class="dm__betslip_btn__odds__text">Total</span>
                                <span class="dm__betslip_btn__odds__text">odds</span>
                            </div>
                            <span class="dm__total_odds">1616.99</span>
                        </div>
                    </div>
                </a>
                <div>
                    <div class="sc-Axmtr eXsTpK">
                        <a class="active"><i class="tJiaQ font_digi-standard font_digi-standard"></i></a>
                        <a>Live</a>
                        <a>Sport</a>
                        <a>Top</a>
                        <a><i class="tJiaQ font_digi-standard icon_standard-close"></i></a>
                        <a><i class="tJiaQ font_digi-standard eZRKOf"></i></a>
                    </div>
                    <div>
                        <div class="digi_m_home">
                            <!-- slider place -->
                            <div class="sc-fzowVh qUdih">
                                <div class="sc-fzoJus ckDZSk dm-cast-shadow">
                                    <a class="sc-fzqLLg bSpNwH">
                                        <div class="sc-fzoVTD jjVbBO">
                                            <span class="sc-fznLxA kFAcWh">
                                                <i class="font_digi-sport font-25 icon_sport-cbtennis"></i>
                                            </span>
                                            <div class="sc-fzpisO FmHtl">Cyber Tennis</div>
                                            <span class="sc-fznyYp kZNLtc">4</span>
                                        </div>
                                    </a>
                                    <a class="sc-fzqLLg bSpNwH">
                                        <div class="sc-fzoVTD JhGiQ">
                                            <span class="sc-fznLxA kFAcWh">
                                                <i class="font_digi-sport font-25 icon_sport-cbvolleyball"></i>
                                            </span>
                                            <div class="sc-fzpisO FmHtl">Cyber Volleyball</div>
                                            <span class="sc-fznyYp kZNLtc">6</span>
                                        </div>
                                    </a>
                                    <a class="sc-fzqLLg bSpNwH">
                                        <div class="sc-fzoVTD JhGiQ">
                                            <span class="sc-fznLxA kFAcWh">
                                                <i class="font_digi-sport font-25 icon_sport-football"></i>
                                            </span>
                                            <div class="sc-fzpisO FmHtl">Football</div>
                                            <span class="sc-fznyYp kZNLtc">23</span>
                                        </div>
                                    </a>
                                    <a class="sc-fzqLLg bSpNwH">
                                        <div class="sc-fzoVTD JhGiQ">
                                            <span class="sc-fznLxA kFAcWh">
                                                <i class="font_digi-sport font-25 icon_sport-tennis"></i>
                                            </span>
                                            <div class="sc-fzpisO FmHtl">Tennis</div>
                                            <span class="sc-fznyYp kZNLtc">12</span>
                                        </div>
                                    </a>
                                    <a class="sc-fzqLLg bSpNwH">
                                        <div class="sc-fzoVTD JhGiQ">
                                            <span class="sc-fznLxA kFAcWh">
                                                <i class="font_digi-sport font-25 icon_sport-basketball"></i>
                                            </span>
                                            <div class="sc-fzpisO FmHtl">Basketball</div>
                                            <span class="sc-fznyYp kZNLtc">18</span>
                                        </div>
                                    </a>
                                </div>
                            </div>
                            <!-- banner place -->
                            <div class="dm__collapse ">
                                <div class="dm__collapse__home dm-display-flex dm--align-center dm--expanded">
                                    <i class="dm__font dm__font_arrow dm__ico_arrow "></i>
                                    <div class="dm__collapse_home__name ">Live Betting</div>
                                </div>
                                <div class="dm__collapse__content dm--show">
                                    <div class="dm__homepage__sport_section">
                                        <a>
                                            <div class="dm__homepage__sport_section__item dm-display-flex dm--align-center dm--bg ">
                                                <i class="font_digi-sport icon_sport-football"></i>
                                                <div class="dm__homepage__sport_section__item__name">Football</div>
                                            </div>
                                        </a>
                                        <div>
                                            <div class="dm__homepage__sport_section__market_head dm-display-flex dm--align-center">
                                                <div class="dm__game_info">
                                                    <div class="dm--input-select_wrapper-custom dm--input-select_market-wrapper-custom">
                                                        <select class="dm--input-select dm--market-select dm-w-100 ">
                                                            <option value="1">Result</option>
                                                        </select>
                                                        <div class="dm--market-select-value dm--input-select-value dm--arrow-deco dm-px-16 dm--oe ">Result</div>
                                                    </div>
                                                </div>
                                                <div class="dm__game_odds ">
                                                    <div class="dm__market_names">Win1</div>
                                                    <div class="dm__market_names">Draw</div>
                                                    <div class="dm__market_names">Win2</div>
                                                </div>
                                            </div>


                                            <div class="dm__homepage__sport_singlegames_cont">
                                                <div class="dm__homepage__sport_tournament_heading dm-px-16 dm-oe">UEFA Champions League</div>
                                            </div>
                                            <% new Array(4).fill().forEach(a => { %>
                                            <div class="dm__single_game_cont">
                                                <div>
                                                    <div class="dm__single_game dm--shadow-light dm-display-flex dm--align-center">
                                                        <a class="dm__single_game__link dm__game_info">
                                                            <div class="dm-display-flex dm__single_game__row dm__single_game__row--prematch dm-display-flex">
                                                                <div class="dm-display-flex dm--flex-col dm--take-av-width">
                                                                    <span class="dm__teamname dm--oe">Chelsea</span>
                                                                    <span class="dm__teamname dm--oe">Newcastle Utd</span>
                                                                </div>
                                                                <i class="dm__h2h dm__font_stat2 dm__font dm__ico"></i>
                                                            </div>
                                                            <div class="dm-display-flex dm--align-center dm__single_game__row dm__single_game__row__footer">
                                                                <span class="dm__time dm--oe">18-11 20:30</span>
                                                                <div class="dm__more">+916</div>
                                                            </div>
                                                        </a>

                                                        <div class="dm__game_odds ">
                                                            <% new Array(3).fill().forEach(() => { %>
                                                            <div class="sc-hTRkEk dm__odd-skin">
                                                                <span class="sc-jgPznn hANeuZ"></span>
                                                                <span class="dm__odd-faktor">2.85</span>
                                                            </div>
                                                            <% }) %>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <% }) %>

                                            <div class="dm__single_game_cont">
                                                <div>
                                                    <div class="dm__single_game dm--shadow-light dm-display-flex dm--align-center">
                                                        <a class="dm__single_game__link dm__game_info">
                                                            <div class="dm-display-flex dm__single_game__row dm__single_game__row--prematch dm-display-flex">
                                                                <div class="dm-display-flex dm--flex-col dm--take-av-width">
                                                                    <span class="dm__teamname dm--oe">Barcelona</span>
                                                                    <span class="dm__teamname dm--oe">PSG</span>
                                                                </div>
                                                                <i class="dm__h2h dm__font_stat2 dm__font dm__ico"></i>
                                                            </div>
                                                            <div class="dm-display-flex dm--align-center dm__single_game__row dm__single_game__row__footer">
                                                                <span class="dm__time dm--oe">18-11 20:30</span>
                                                                <div class="dm__more">+916</div>
                                                            </div>
                                                        </a>

                                                        <div class="dm__game_odds ">
                                                            <div class="dm__game_odds ">
                                                                <div class="sc-hTRkEk dm__odd-skin dm__odd-selected">
                                                                    <span class="dm__odd-faktor">2.85</span>
                                                                </div>
                                                                <div class="sc-hTRkEk dm__odd-skin">
                                                                    <span class="dm__odd-faktor">2.85</span>
                                                                </div>
                                                                <div class="sc-hTRkEk dm__odd-skin dm__odd-selected">
                                                                    <span class="dm__odd-faktor">2.85</span>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="dm__homepage__sport_singlegames_cont">
                                                <div class="dm__homepage__sport_tournament_heading dm-px-16 dm-oe">Germany. Bundesliga</div>
                                            </div>
                                            <div class="dm__single_game_cont">
                                                <i class="dm__favorite dm__single_game_fav dm-display-flex dm--flex-col dm--align-center dm--justify-center D--OG--fav ">
                                                    <i class="dm__font dm__font-fav dm__ico  "></i>
                                                </i>
                                                <div style="transform: translateX(55px);">
                                                    <div class="dm__single_game dm--shadow-light dm-display-flex dm--align-center">
                                                        <a class="dm__single_game__link dm__game_info">
                                                            <div class="dm-display-flex dm__single_game__row dm__single_game__row--prematch dm-display-flex">
                                                                <div class="dm-display-flex dm--flex-col dm--take-av-width">
                                                                    <span class="dm__teamname dm--oe">Bayern Munich</span>
                                                                    <span class="dm__teamname dm--oe">Arminia Bielefeld</span>
                                                                </div>
                                                                <i class="dm__h2h dm__font_stat2 dm__font dm__ico"></i>
                                                            </div>
                                                            <div class="dm-display-flex dm--align-center dm__single_game__row dm__single_game__row__footer">
                                                                <span class="dm__time dm--oe">18-11 20:30</span>
                                                                <div class="dm__more">+916</div>
                                                            </div>
                                                        </a>

                                                        <div class="dm__game_odds ">
                                                            <% new Array(3).fill().forEach(() => { %>
                                                                <div class="sc-hTRkEk dm__odd-skin">
                                                                    <span class="sc-jgPznn hANeuZ"></span>
                                                                    <span class="dm__odd-faktor">2.85</span>
                                                                </div>
                                                            <% }) %>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="dm__collapse__home dm-display-flex dm--align-center dm--expanded">
                                    <i class="dm__font dm__font_arrow dm__ico_arrow "></i>
                                    <div class="dm__collapse_home__name ">Top Games</div>
                                </div>
                                <div class="dm__collapse__content dm--show">
                                    <div class="sc-fzqAui kZrurd">
                                        <div class="sc-fzqMdD dDpXlZ">
                                            <div class="sc-fzoVTD iGlHTV dm--clr53">
                                                <span class="sc-fznLxA cUvmKD">
                                                    <i class="font_digi-sport font-25 hAZBrd icon_sport-cyber"></i>
                                                </span>
                                                <div class="sc-fzpisO eRvgmz ">Cyber Sport</div>
                                            </div>
                                            <div class="sc-fzoVTD iGlHTV">
                                                <span class="sc-fznLxA cUvmKD">
                                                    <i class="font_digi-sport font-25 hAZBrd"></i>
                                                </span>
                                                <div class="sc-fzpisO eRvgmz">Football</div>
                                            </div>
                                            <div class="sc-fzoVTD iGlHTV">
                                                <span class="sc-fznLxA cUvmKD">
                                                    <i class="font_digi-sport font-25 hAZBrd icon_sport-tennis"></i>
                                                </span>
                                                <div class="sc-fzpisO eRvgmz ">Tennis</div>
                                            </div>
                                            <div class="sc-fzoVTD iGlHTV">
                                                <span class="sc-fznLxA cUvmKD">
                                                    <i class="font_digi-sport font-25 hAZBrd icon_sport-basketball"></i>
                                                </span>
                                                <div class="sc-fzpisO eRvgmz ">Basketball</div>
                                            </div>
                                            <div class="sc-fzoVTD iGlHTV">
                                                <span class="sc-fznLxA cUvmKD">
                                                    <i class="font_digi-sport font-25 hAZBrd icon_sport-boxing"></i>
                                                </span>
                                                <div class="sc-fzpisO eRvgmz ">Boxing</div>
                                            </div>
                                            <div class="sc-fzoVTD iGlHTV">
                                                <span class="sc-fznLxA cUvmKD">
                                                    <i class="font_digi-sport font-25 hAZBrd icon_sport-icehockey"></i>
                                                </span>
                                                <div class="sc-fzpisO eRvgmz ">Ice Hockey</div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="dm__homepage__sport_section">
                                        <div>
                                            <div class="dm__homepage__sport_section__market_head dm-display-flex dm--align-center">
                                                <div class="dm__game_info">
                                                    <div class="dm--input-select_wrapper-custom dm--input-select_market-wrapper-custom">
                                                        <select class="dm--input-select dm--market-select dm-w-100 ">
                                                            <option value="1">Result</option>
                                                        </select>
                                                        <div class="dm--market-select-value dm--input-select-value dm--arrow-deco dm-px-16 dm--oe ">Result</div>
                                                    </div>
                                                </div>
                                                <div class="dm__game_odds ">
                                                    <div class="dm__market_names">Win1</div>
                                                    <div class="dm__market_names">Draw</div>
                                                    <div class="dm__market_names">Win2</div>
                                                </div>
                                            </div>


                                            <div class="dm__homepage__sport_singlegames_cont">
                                                <div class="dm__homepage__sport_tournament_heading dm-px-16 dm-oe">UEFA Champions League</div>
                                            </div>
                                            <% new Array(2).fill().forEach(a => { %>
                                            <div class="dm__single_game_cont">
                                                <div style="transition: transform 0.2s ease 0s;">
                                                    <div class="dm__single_game dm--shadow-light dm-display-flex dm--align-center">
                                                        <a class="dm__single_game__link dm__game_info">
                                                            <div class="dm-display-flex dm__single_game__row dm__single_game__row--prematch dm-display-flex">
                                                                <div class="dm-display-flex dm--flex-col dm--take-av-width">
                                                                    <span class="dm__teamname dm--oe">Sevilla</span>
                                                                    <span class="dm__teamname dm--oe">Borussia Dortmund</span>
                                                                </div>
                                                                <i class="dm__h2h dm__font_stat2 dm__font dm__ico"></i>
                                                            </div>
                                                            <div class="dm-display-flex dm--align-center dm__single_game__row dm__single_game__row__footer">
                                                                <span class="dm__time dm--oe">18-11 20:30</span>
                                                                <div class="dm__more">+916</div>
                                                            </div>
                                                        </a>

                                                        <div class="dm__game_odds ">
                                                            <% new Array(3).fill().forEach(() => { %>
                                                            <div class="sc-hTRkEk dm__odd-skin">
                                                                <span class="sc-jgPznn hANeuZ"></span>
                                                                <span class="dm__odd-faktor">2.85</span>
                                                            </div>
                                                            <% }) %>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <% }) %>

                                        </div>

                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="dm__wrapper__inner dm-h-100 dm-z-index-1 dm-display-flex dm--flex-col">
                <div class="dm__wrapper__inner dm-h-100 dm-z-index-1 ">
                    <div>
                        <div class="sc-Axmtr eXsTpK">
                            <a><i class="icon_standard-home font_digi-standard"></i></a>
                            <a>Live</a>
                            <a class="active">Sport</a>
                            <a>Top</a>
                            <a><i class="tJiaQ font_digi-standard icon_standard-close"></i></a>
                            <a><i class="tJiaQ font_digi-standard eZRKOf"></i></a>
                        </div>

                        <div style="display: block;">
                            <div class="">
                                <div class="sc-fzowVh qUdih">
                                    <div class="sc-fzoJus ckDZSk dm-cast-shadow">
                                        <a class="sc-fzqLLg bSpNwH">
                                            <div class="sc-fzoVTD jjVbBO">
                                            <span class="sc-fznLxA kFAcWh">
                                                <i class="font_digi-sport font-25 icon_sport-cbtennis"></i>
                                            </span>
                                                <div class="sc-fzpisO FmHtl">Cyber Tennis</div>
                                                <span class="sc-fznyYp kZNLtc">4</span>
                                            </div>
                                        </a>
                                        <a class="sc-fzqLLg bSpNwH">
                                            <div class="sc-fzoVTD JhGiQ">
                                            <span class="sc-fznLxA kFAcWh">
                                                <i class="font_digi-sport font-25 icon_sport-cbvolleyball"></i>
                                            </span>
                                                <div class="sc-fzpisO FmHtl">Cyber Volleyball</div>
                                                <span class="sc-fznyYp kZNLtc">6</span>
                                            </div>
                                        </a>
                                        <a class="sc-fzqLLg bSpNwH">
                                            <div class="sc-fzoVTD JhGiQ">
                                            <span class="sc-fznLxA kFAcWh">
                                                <i class="font_digi-sport font-25 icon_sport-football"></i>
                                            </span>
                                                <div class="sc-fzpisO FmHtl">Football</div>
                                                <span class="sc-fznyYp kZNLtc">23</span>
                                            </div>
                                        </a>
                                        <a class="sc-fzqLLg bSpNwH">
                                            <div class="sc-fzoVTD JhGiQ">
                                            <span class="sc-fznLxA kFAcWh">
                                                <i class="font_digi-sport font-25 icon_sport-tennis"></i>
                                            </span>
                                                <div class="sc-fzpisO FmHtl">Tennis</div>
                                                <span class="sc-fznyYp kZNLtc">12</span>
                                            </div>
                                        </a>
                                        <a class="sc-fzqLLg bSpNwH">
                                            <div class="sc-fzoVTD JhGiQ">
                                            <span class="sc-fznLxA kFAcWh">
                                                <i class="font_digi-sport font-25 icon_sport-basketball"></i>
                                            </span>
                                                <div class="sc-fzpisO FmHtl">Basketball</div>
                                                <span class="sc-fznyYp kZNLtc">18</span>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                                <div class="dm__championship__header dm-display-flex dm--align-center dm-px-16">
                                    <div class="dm__flags dm__flag113"></div>
                                    <div class="dm__event_row_n dm--take-av-width">UEFA Champions League</div>
                                    <div class="dm__championship__header__go-back-container">
                                        <i class="dm__go_back"><svg class="dm--svg-icon undefined" version="1.1" viewBox="0 0 24 24"><path d="M20,11H7.8l5.6-5.6L12,4l-8,8l8,8l1.4-1.4L7.8,13H20V11z"></path></svg></i>
                                        <span>Back</span>
                                    </div>
                                </div>
                                <div class="dm__custom_select">
                                    <div class="dm__custom_select__button dm-px-16">Barcelona - PSG</div>
                                </div>
                                <div class="dm__event_row_n dm__homepage__sport_tournament_heading dm--take-av-width dm-px-16 dm-oe">UEFA Champions League. 1/8 Final. 1st Leg</div>
                                <div class="dm__image_header dm-display-flex dm--flex-col" style="background-image: url(&quot;//cdn-sp.kertn.net/assets/sport-hero-images/mobileV2/1.jpg&quot;);">
                                    <div class="dm__image_header__row dm-ns">
                                        <span class="dm__image_header__tooltip dm__image_header__tooltip--comment dm--align-center dm--font-small"><svg class="dm--svg-icon undefined" version="1.1" viewBox="0 0 24 24"><path d="M5,3h14c1.1,0,2,0.9,2,2v14c0,1.1-0.9,2-2,2H5c-1.1,0-2-0.9-2-2V5C3,3.9,3.9,3,5,3 M13,13V7h-2v6H13 M13,17v-2h-2v2H13z"></path></svg>1/8 Final. 1st Leg</span>
                                    </div>
                                    <i class="dm__favorite dm__image_header__favorite D--OG--fav "><i class="dm__font dm__font-fav dm__ico  "></i></i>
                                    <div class="dm__image_header__table dm-display-flex dm-ns">
                                        <div class="dm__image_header__table-l dm--take-av-width dm-display-flex dm--flex-col">
                                            <div class="dm__image_header__date dm__image_header_comments_cont dm-display-flex dm--align-center">
                                                <span class="dm__image_header__tooltip dm--flex-inline dm--align-center dm--font-small">17-02-2021 | 0:00</span>
                                            </div>
                                            <div class="dm__image_header__teams dm-display-flex dm--align-center dm__image_header-devider">
                                                <div class="dm__serve_header"></div>
                                                <span class=""></span>
                                                <svg version="1.1" viewBox="0 0 24 24" class="sc-FRqcf hZrFIo"><path d="M22.3,5.9l-3.9-2.3c-0.5-0.3-1-0.4-1.6-0.4h-2c-0.3,0.9-1.5,1.6-2.9,1.6S9.3,4.1,9,3.2h-2c-0.5,0-1.1,0.1-1.6,0.4L1.5,5.9C1.3,6,1.3,6.1,1.3,6.3l1.4,3C2.8,9.4,3,9.5,3.1,9.4l2.5-0.8v11.8c0,0.2,0.1,0.3,0.3,0.3h12.1c0.2,0,0.3-0.1,0.3-0.3V8.6l2.5,0.8c0.1,0,0.3,0,0.4-0.2l1.4-3C22.5,6.1,22.5,6,22.3,5.9z"></path></svg>
                                                <span class="dm-oe">Barcelona</span>
                                            </div>
                                            <div class="dm__image_header__teams dm-display-flex dm--align-center ">
                                                <div class="dm__serve_header"></div>
                                                <span class=""></span>
                                                <svg version="1.1" viewBox="0 0 24 24" class="sc-FRqcf iSFAzJ"><path d="M22.3,5.9l-3.9-2.3c-0.5-0.3-1-0.4-1.6-0.4h-2c-0.3,0.9-1.5,1.6-2.9,1.6S9.3,4.1,9,3.2h-2c-0.5,0-1.1,0.1-1.6,0.4L1.5,5.9C1.3,6,1.3,6.1,1.3,6.3l1.4,3C2.8,9.4,3,9.5,3.1,9.4l2.5-0.8v11.8c0,0.2,0.1,0.3,0.3,0.3h12.1c0.2,0,0.3-0.1,0.3-0.3V8.6l2.5,0.8c0.1,0,0.3,0,0.4-0.2l1.4-3C22.5,6.1,22.5,6,22.3,5.9z"></path></svg>
                                                <span class="dm-oe">PSG</span>
                                            </div>
                                        </div>
                                        <div class="dm__image_header__table-r dm-display-flex dm--flex-col">
                                            <div class="dm__image_header__score_head dm-display-flex dm--align-center dm__image_header-top-row"></div>
                                            <div class="dm__image_header__score dm-display-flex dm--align-center dm__image_header-devider"></div>
                                            <div class="dm__image_header__score dm-display-flex dm--align-center"></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="dm__event dm__homepage__sport_singlegames">
                                    <div class="dm-relative">
                                        <div class="dm__btn-game-toggle-markets dm--tabs-event dm__market_collapser dm-display-flex dm--flex-col"><i class="dm__font dm__font_arrows dm__font_arrows--rotated-up" style="font-size: 18px;"></i></div>
                                        <div class="dm__tabs_container dm-display-flex dm--align-center dm--tabs-n dm--tabs-event dm--tabs-event--with-toggle">
                                            <div class="dm__tabs__item dm-display-flex dm--flex-col dm--align-center dm--justify-center   dm__tabs__item-active">
                                                <span class="dm__tab_name">Main</span>
                                                <span class="dm__tab_sub_name">ID 4964</span>
                                            </div>
                                            <div class="dm__tabs__item dm-display-flex dm--flex-col dm--align-center dm--justify-center  ">
                                                <span class="dm__tab_name">1st half</span>
                                                <span class="dm__tab_sub_name">ID 4972</span>
                                            </div>
                                            <div class="dm__tabs__item dm-display-flex dm--flex-col dm--align-center dm--justify-center  ">
                                                <span class="dm__tab_name">2nd half</span>
                                                <span class="dm__tab_sub_name">ID 4986</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="dm__market">
                                        <div class="dm__market_wrapper">
                                            <div class="dm__market_collapser dm-display-flex dm--align-center dm-px-16">
                                                <i class="dm__font dm__font_arrow dm__ico_arrow dm__ico_arrow--rotated"></i>
                                                <span class="dm__market__name dm--take-av-width">To Qualify for the 1/4 Finals</span>
                                                <div class="dm__cashout_badge dm--ns">CashOut</div>
                                                <i class="dm__font dm__font-fav dm__ico dm--ns dm__favorite"></i>
                                            </div>
                                            <div class="dm__market_body dm-display-flex dm--flex-wrap ">
                                                <div class="sc-fbIXFq kuFoHL">
                                                    <div class="dm__market_odd sc-jgPznn dKwrmy">
                                                        <span class="sc-gSYCTC wbcfI">Team 1</span>
                                                        <span class="dm__odd-faktor">2</span>
                                                    </div>
                                                </div>
                                                <div class="sc-fbIXFq kuFoHL">
                                                    <div class="dm__market_odd sc-jgPznn dKwrmy">
                                                        <span class="sc-gSYCTC wbcfI">Team 2</span>
                                                        <span class="dm__odd-faktor">1.75</span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="dm__market_wrapper">
                                            <div class="dm__market_collapser dm-display-flex dm--align-center dm-px-16">
                                                <i class="dm__font dm__font_arrow dm__ico_arrow dm__ico_arrow--rotated"></i>
                                                <span class="dm__market__name dm--take-av-width">Result</span>
                                                <div class="dm__cashout_badge dm--ns">CashOut</div>
                                                <i class="dm__font dm__font-fav dm__ico dm--ns dm__favorite"></i>
                                            </div>
                                            <div class="dm__market_body dm-display-flex dm--flex-wrap ">
                                                <div class="sc-fbIXFq ddwFJy">
                                                    <div class="dm__market_odd sc-jgPznn dKwrmy">
                                                        <span class="sc-gSYCTC wbcfI">Win1</span>
                                                        <span class="dm__odd-faktor">2.38</span>
                                                    </div>
                                                </div>
                                                <div class="sc-fbIXFq ddwFJy">
                                                    <div class="dm__market_odd sc-jgPznn dKwrmy">
                                                        <span class="sc-gSYCTC wbcfI">X</span>
                                                        <span class="dm__odd-faktor">3.65</span>
                                                    </div>
                                                </div>
                                                <div class="sc-fbIXFq ddwFJy">
                                                    <div class="dm__market_odd sc-jgPznn dKwrmy">
                                                        <span class="sc-gSYCTC wbcfI">Win2</span>
                                                        <span class="dm__odd-faktor">2.9</span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="dm__betslip--single" data-element-name="betlsip-single-container">
                    <div class="sc-jrsJCI dUpEFj">
                        <div>
                            <a class="dm--take-av-width">
                                <span class="dm__popup__header__heading">GO TO BETSLIP</span>
                            </a>
                        </div>
                        <span class="sc-kEqYlL IXWjK">
                            <i class="font-36 icon_standard-close font_digi-standard"></i>
                        </span>
                    </div>
                    <div class="dm__betslip__body">
                        <div class="dm__betslip__bet">
                            <div class="dm-display-flex dm-px-16 dm--align-center">
                                <div class="dm__betslip__bet__checkbox dm-ns">
                                    <div class="dm__live_badge">LIVE</div>
                                    <div class="dm__checkbox_cont undefined">
                                        <input id="Win2928511726" type="checkbox" checked="">
                                        <label class="dm__checkbox__label dm--align-center" for="Win2928511726"><i class="dm--checkbox dm-display-block dm__font dm__ico dm__font-checkbox"></i></label>
                                    </div>
                                </div>
                                <div class="dm__betslip__bet__name dm--take-av-width">
                                    <a class="dm__stake_name_link dm-display-flex dm--flex-col" href="#">
                                        <span class="dm__tn">Chloe Paquet </span>
                                        <span class="dm__tn">Mayar Sherif </span>
                                    </a>
                                </div>
                                <div class="dm__betslip__bet__factor dm-ns">
                                    <div class="dm__cashout_badge">CashOut</div>
                                    <div class="dm__bf dm--bf-disabled">1.05</div>
                                </div>
                                <div class="dm__betslip__bet__remove"><i class="font-36 icon_standard-close font_digi-standard"></i></div>
                            </div>
                            <div class="dm__betslip__stake_name">
                                <span class="dm__stn">Result: Win2 </span>
                            </div>
                            <div class="dm__betslip__stake_inactive dm-px-16 dm--oe">Bet is inactive</div>
                        </div>
                    </div>
                    <div class="dm__betslip__options__row dm-display-flex dm--flex-col dm-px-8">
                        <div class="dm--flex-grid__item dm--col8 dm-mb-8 dm-mt-16">
                            <div class="dm__keyboard_wrapper dm--keyboard--single">
                                <div class="dm__keyboard_trigger dm-display-flex dm--align-center dm-px-16 dm--shadow-light ">
                                    <span class="dm--take-av-width dm-keyboard-input">20</span>
                                    <i class="dm__font dm__font_l dm__clear"></i>
                                </div>
                                <div class="dm__keyboard dm-relative dm-mb-8 dm-display-none">
                                    <div class="dm__keyboard__row dm--flex-grid dm--flex-grid-sm">
                                        <div class="dm--flex-grid__item dm--col-keyboard">
                                            <span class="dm__btn1 dm__btn--keyboard dm-display-block dm-w-100">1</span>
                                        </div>
                                        <div class="dm--flex-grid__item dm--col-keyboard">
                                            <span class="dm__btn1 dm__btn--keyboard dm-display-block dm-w-100">2</span>
                                        </div>
                                        <div class="dm--flex-grid__item dm--col-keyboard">
                                            <span class="dm__btn1 dm__btn--keyboard dm-display-block dm-w-100">3</span>
                                        </div>
                                        <div class="dm--flex-grid__item dm--col-keyboard">
                                            <span class="dm__btn1 dm__btn--keyboard dm-display-block dm-w-100">4</span>
                                        </div>
                                        <div class="dm--flex-grid__item dm--col-keyboard">
                                            <span class="dm__btn1 dm__btn--keyboard dm-display-block dm-w-100">5</span>
                                        </div>
                                        <div class="dm--flex-grid__item dm--col-keyboard">
                                            <span class="dm__btn1 dm__btn--keyboard dm-display-block dm-w-100">6</span>
                                        </div>
                                        <div class="dm--flex-grid__item dm--col-keyboard">
                                            <span class="dm__btn1 dm__btn--keyboard dm-display-block dm-w-100">7</span>
                                        </div>
                                        <div class="dm--flex-grid__item dm--col-keyboard">
                                            <span class="dm__btn1 dm__btn--keyboard dm-display-block dm-w-100">8</span>
                                        </div>
                                        <div class="dm--flex-grid__item dm--col-keyboard">
                                            <span class="dm__btn1 dm__btn--keyboard dm-display-block dm-w-100">9</span>
                                        </div>
                                    </div>
                                    <div class="dm__keyboard__row dm--flex-grid dm--flex-grid-sm">
                                        <div class="dm--flex-grid__item dm--col25 dm__btn--keyboard--hide-in-single">
                                            <span class="dm__btn1 dm__btn--keyboard dm-display-block dm-w-100 D--dot dm--actions-none"></span>
                                        </div>
                                        <div class="dm--flex-grid__item dm--col25">
                                            <span class="dm__btn1 dm__btn--keyboard dm-display-block dm-w-100 D--zero">0</span>
                                        </div>
                                        <div class="dm--flex-grid__item dm--col25">
                                            <span class="dm__btn1 dm__btn--with-ico dm__btn--keyboard dm-display-block dm-w-100"><i class="dm__font dm__clear"></i></span>
                                        </div>
                                        <div class="dm--flex-grid__item dm--col25">
                                            <span class="dm__btn1 dm__btn--keyboard dm-display-block dm-w-100 D--done">ok</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="dm-display-flex dm--flex-col">
                            <div class="dm-mb-12">
                                <div class="dm--fontsize14 dm-pt-16 dm-px-8 dm-pb-8">
                                    <div class="dm__betslip__possible-winning dm-display-flex dm--align-center">
                                        <span class="dm--possible-winning-text">Possible Winning</span>
                                        <span class="dm__betslip__possible-winning__separator">:</span>
                                        <span class="dm--possible-winning-count dm--ltr">21 AMD</span>
                                    </div>
                                </div>
                            </div>
                            <div class="dm-px-8">
                                <div class="dm__betslip_space">
                                    <div class="dm__checkbox_cont dm__checkbox_text_cont dm__checkbox-betslip dm-display-flex dm--align-center">
                                        <input id="cb14" type="checkbox" checked="">
                                        <label class="dm__checkbox__label dm--align-center" for="cb14">
                                            <i class="dm--checkbox dm-display-block dm__font dm__ico dm__font-checkbox"></i>
                                            <span class="dm__checkbox__text">Agree to odds changes </span>
                                        </label>
                                        <label class="dm__checkbox__text" for="cb14"></label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="dm--flex-grid__item dm--col8">
                            <div class="dm__betslip_bet dm-mb-12">
                                <div class="dm__btn-bet dm__btn-shadow dm-w-100 dm-display-flex dm--align-center ">
                                    <span class="dm__btn-bet__text">Place bet</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="dm__wrapper__inner dm-h-100 dm-z-index-1">
                <div class="dm__betslip">
                    <div class="sc-jrsJCI dUpEFj dm_fixed dm__betslip_header">
                        <div>364.00 <span class="dm--text-transform-none">AMD</span></div>
                        <span class="sc-kEqYlL IXWjK"><i class="font-36 icon_standard-close font_digi-standard"></i></span>
                    </div>
                    <div class="dm__popup-bg dm--overflow-hidden dm--100vh-calc44 dm-display-flex dm--flex-col">
                        <div class="">
                            <div class="dm__betslip_stake_trigger_panel dm-display-flex dm--align-center dm-px-16 dm-shadow-inset">
                                <div class="D--col-6 dm-display-flex dm__tour_wrapper">
                                    <span class="dm__font dm__betslip_tour"></span>
                                    <div class="dm-display-flex dm--align-center dm__tournament_switcher">
                                        <div class="dm__radio-slider-cont dm-display-flex dm--align-center ">
                                            <input class="dm__radio-hide" type="checkbox" id="TournamentSwitcher">
                                            <label class="dm__radio-slider" for="TournamentSwitcher"></label>
                                        </div>
                                        <span class="dm__switch_text">Sport Tournament</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="dm__tabs_container dm-display-flex dm--align-center dm--tabs-3 dm--tabs-betslip dm-shadow-inset">
                            <div class="dm__tabs__item dm-display-flex dm--flex-col dm--align-center dm--justify-center  ">
                                <span class="dm__tab_name">Single</span>
                            </div>
                            <div class="dm__tabs__item dm-display-flex dm--flex-col dm--align-center dm--justify-center   dm__tabs__item-active">
                                <span class="dm__tab_name">Multi</span>
                            </div>
                            <div class="dm__tabs__item dm-display-flex dm--flex-col dm--align-center dm--justify-center  ">
                                <span class="dm__tab_name">System</span>
                            </div>
                        </div>
                        <div class="dm__betslip__bet">
                            <div class="dm-display-flex dm-px-16 dm--align-center">
                                <div class="dm__betslip__bet__checkbox dm-ns">
                                    <div class=""></div>
                                    <div class="dm__checkbox_cont undefined">
                                        <input id="Win1928387096" type="checkbox" checked="">
                                        <label class="dm__checkbox__label dm--align-center" for="Win1928387096"><i class="dm--checkbox dm-display-block dm__font dm__ico dm__font-checkbox"></i></label>
                                    </div>
                                </div>
                                <div class="dm__betslip__bet__name dm--take-av-width">
                                    <a class="dm__stake_name_link dm-display-flex dm--flex-col" href="#events/6954461">
                                        <span class="dm__tn">Pacos de Ferreira </span>
                                        <span class="dm__tn">Portimonense </span>
                                    </a>
                                </div>
                                <div class="dm__betslip__bet__factor dm-ns">
                                    <div class="dm__cashout_badge">CashOut</div>
                                    <div class="dm__bf dm--bf-disabled">2.1</div>
                                </div>
                                <div class="dm__betslip__bet__remove"><i class="font-36 icon_standard-close font_digi-standard"></i></div>
                            </div>
                            <div class="dm__betslip__stake_name">
                                <span class="dm__stn">Win1: Result</span>
                            </div>
                        </div>
                        <div class="dm__betslip__bet">
                            <div class="dm-display-flex dm-px-16 dm--align-center">
                                <div class="dm__betslip__bet__checkbox dm-ns">
                                    <div class=""></div>
                                    <div class="dm__checkbox_cont undefined">
                                        <input id="Win1926179900" type="checkbox" checked="">
                                        <label class="dm__checkbox__label dm--align-center" for="Win1926179900"><i class="dm--checkbox dm-display-block dm__font dm__ico dm__font-checkbox"></i></label>
                                    </div>
                                </div>
                                <div class="dm__betslip__bet__name dm--take-av-width">
                                    <a class="dm__stake_name_link dm-display-flex dm--flex-col">
                                        <span class="dm__tn">Burnley </span>
                                        <span class="dm__tn">Bournemouth </span>
                                    </a>
                                </div>
                                <div class="dm__betslip__bet__factor dm-ns">
                                    <div class="dm__cashout_badge">CashOut</div>
                                    <div class="dm__bf dm--bf-disabled">2.35</div>
                                </div>
                                <div class="dm__betslip__bet__remove"><i class="font-36 icon_standard-close font_digi-standard"></i></div>
                            </div>
                            <div class="dm__betslip__stake_name">
                                <span class="dm__stn">Win1: Result</span>
                            </div>
                        </div>
                        <div class="dm__betslip_stake_trigger_panel dm-cast-shadow dm-display-flex dm--align-center dm-px-16">
                            <i class="font-36 jvrFqZ font_digi-standard"></i>
                            <div class="dm-px-8"><i class="font-36 jVhiXm font_digi-standard"></i></div>
                            <div class="dm__betslip_stake_trigger_text dm--take-av-width dm-display-flex dm--align-center dm--justify-end">
                                <div class="dm__dtt__total"><span>Total odds:</span></div>
                                <div class="dm__dtt__number"><span class="dm__total_odds">4.93</span></div>
                            </div>
                            <i class="font-36 jLdlQk font_digi-standard"></i>
                        </div>
                        <div class="dm__betslip__options dm-pt-16 dm-pb-32">
                            <div class="dm-mb-16"></div>
                            <div class="dm-px-24 dm-mb-16">
                                <div class="dm--flex-grid dm--flex-grid-sm">
                                    <div class="dm--flex-grid__item dm--col2">
                                        <div class="dm-w-100 dm__btn dm__btn--betslip dm--shadow-light">50</div>
                                    </div>
                                    <div class="dm--flex-grid__item dm--col2">
                                        <div class="dm-w-100 dm__btn dm__btn--betslip dm--shadow-light">100</div>
                                    </div>
                                    <div class="dm--flex-grid__item dm--col2">
                                        <div class="dm-w-100 dm__btn dm__btn--betslip dm--shadow-light">1000</div>
                                    </div>
                                    <a href="#" class="dm--flex-grid__item dm--col2">
                                        <span class="dm__btn dm__btn--with-ico dm__btn--betslip dm-display-block dm-w-100">
                                            <i class="dm__font dm__font_edit"></i>
                                        </span>
                                    </a>
                                </div>
                            </div>
                            <div class="dm-px-24">
                                <div class="dm__betslip__options__row dm--flex-grid dm--flex-grid-sm">
                                    <div class="dm--flex-grid__item dm--col6">
                                        <div class="dm__keyboard_wrapper dm--keyboard--betslip">
                                            <div class="dm__keyboard_trigger dm-display-flex dm--align-center dm-px-16 dm--shadow-light ">
                                                <span class="dm--take-av-width dm-keyboard-input">20</span>
                                                <i class="dm__font dm__font_l dm__clear"></i>
                                            </div>
                                            <div class="dm__keyboard dm-relative dm-mb-8 dm-display-none">
                                                <div class="dm__keyboard__row dm--flex-grid dm--flex-grid-sm">
                                                    <div class="dm--flex-grid__item dm--col-keyboard">
                                                        <span class="dm__btn1 dm__btn--keyboard dm-display-block dm-w-100" data-count="1">1</span>
                                                    </div>
                                                    <div class="dm--flex-grid__item dm--col-keyboard">
                                                        <span class="dm__btn1 dm__btn--keyboard dm-display-block dm-w-100" data-count="2">2</span>
                                                    </div>
                                                    <div class="dm--flex-grid__item dm--col-keyboard">
                                                        <span class="dm__btn1 dm__btn--keyboard dm-display-block dm-w-100" data-count="3">3</span>
                                                    </div>
                                                    <div class="dm--flex-grid__item dm--col-keyboard">
                                                        <span class="dm__btn1 dm__btn--keyboard dm-display-block dm-w-100" data-count="4">4</span>
                                                    </div>
                                                    <div class="dm--flex-grid__item dm--col-keyboard">
                                                        <span class="dm__btn1 dm__btn--keyboard dm-display-block dm-w-100" data-count="5">5</span>
                                                    </div>
                                                    <div class="dm--flex-grid__item dm--col-keyboard">
                                                        <span class="dm__btn1 dm__btn--keyboard dm-display-block dm-w-100" data-count="6">6</span>
                                                    </div>
                                                    <div class="dm--flex-grid__item dm--col-keyboard">
                                                        <span class="dm__btn1 dm__btn--keyboard dm-display-block dm-w-100" data-count="7">7</span>
                                                    </div>
                                                    <div class="dm--flex-grid__item dm--col-keyboard">
                                                        <span class="dm__btn1 dm__btn--keyboard dm-display-block dm-w-100" data-count="8">8</span>
                                                    </div>
                                                    <div class="dm--flex-grid__item dm--col-keyboard">
                                                        <span class="dm__btn1 dm__btn--keyboard dm-display-block dm-w-100" data-count="9">9</span>
                                                    </div>
                                                </div>
                                                <div class="dm__keyboard__row dm--flex-grid dm--flex-grid-sm">
                                                    <div class="dm--flex-grid__item dm--col25 dm__btn--keyboard--hide-in-single">
                                                        <span class="dm__btn1 dm__btn--keyboard dm-display-block dm-w-100 D--dot dm--actions-none" data-count="."></span>
                                                    </div>
                                                    <div class="dm--flex-grid__item dm--col25">
                                                        <span class="dm__btn1 dm__btn--keyboard dm-display-block dm-w-100 D--zero" data-count="0">0</span>
                                                    </div>
                                                    <div class="dm--flex-grid__item dm--col25">
                                                        <span class="dm__btn1 dm__btn--with-ico dm__btn--keyboard dm-display-block dm-w-100"><i class="dm__font dm__clear"></i></span>
                                                    </div>
                                                    <div class="dm--flex-grid__item dm--col25">
                                                        <span class="dm__btn1 dm__btn--keyboard dm-display-block dm-w-100 D--done" data-count="done">ok</span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="dm--flex-grid__item dm--col2"><input class="dm__btn dm__btn--betslip dm--font-size-12 dm-px-0 dm-w-100" type="button" value="Max"></div>
                                </div>
                                <div>
                                    <div class="dm--fontsize14 dm-pt-16 dm-px-8 dm-pb-8">
                                        <div class="dm__betslip__possible-winning dm-display-flex dm--align-center">
                                            <span class="dm--possible-winning-text">Possible Winning</span>
                                            <span class="dm__betslip__possible-winning__separator">:</span>
                                            <span class="dm--possible-winning-count dm--ltr">99 AMD</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="dm-px-24">
                                <div class="dm__betslip_space">
                                    <div class="dm__checkbox_cont dm__checkbox_text_cont dm__checkbox-betslip dm-display-flex dm--align-center">
                                        <input id="cb14" type="checkbox" checked="">
                                        <label class="dm__checkbox__label dm--align-center" for="cb14">
                                            <i class="dm--checkbox dm-display-block dm__font dm__ico dm__font-checkbox"></i>
                                            <span class="dm__checkbox__text">Agree to odds changes </span>
                                        </label>
                                        <label class="dm__checkbox__text" for="cb14"></label>
                                    </div>
                                </div>
                            </div>
                            <div class="dm-px-24 dm-mb-16">
                                <div class="dm__betslip_bet dm-mb-12">
                                    <div class="dm__btn-bet dm__btn-shadow dm-w-100 dm-display-flex dm--align-center ">
                                        <span class="dm__btn-bet__text">Place bet</span>
                                    </div>
                                </div>
                            </div>
                            <div class="dm-px-24 dm-mb-16" data-element-name="betslip-repeat-bet-button">
                                <div></div>
                            </div>
                            <div class="dm-px-24 dm-mb-16" data-element-name="betslip-bet-history-button">
                                <a href="#?popup=MyBets"><input type="button" class="dm__btn dm__btn--history dm__btn-shadow dm-display-block dm-w-100" value="Bet History"></a>
                            </div>
                            <div class="dm-px-24 dm-mb-16" data-element-name="betslip-repeat-bet-button">
                                <div>
                                </div>
                            </div>
                        </div>
                        <div class="D--unLimitBet">
                            <div class="D--bs-tabs-block"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="dm__wrapper__inner dm__bet_history dm-h-100">
                <div class="sc-jrsJCI dUpEFj">
                    <div>Bet History</div>
                    <span class="sc-kEqYlL IXWjK"><i class="icon_standard-close font_digi-standard"></i></span>
                </div>
                <div class="sc-giAqnE gJCfdy dm-h-100">
                    <div class="dm-with-loading__spinner">
                        <span role="status"></span>
                    </div>
                    <div class="dm_h_100-head dm-display-flex dm--flex-col dm--flex-grow">
                        <div class="dm__tabs_container dm-display-flex dm--align-center dm--tabs-2 dm--tabs-bet_history">
                            <div class="dm__tabs__item dm-display-flex dm--flex-col dm--align-center dm--justify-center   dm__tabs__item-active">
                                <span class="dm__tab_name">OPEN BETS</span>
                            </div>
                            <div class="dm__tabs__item dm-display-flex dm--flex-col dm--align-center dm--justify-center  ">
                                <span class="dm__tab_name">All bets</span>
                            </div>
                        </div>
                        <div class="dm__filter_result-with-tab dm__popup-bg dm_h_100-head dm--flex-grow">
                            <div class="dm__mybets__item dm__mybets__item--new">
                                <div class="dm-table dm__mybets-res-header dm-pl-8 dm-pr-4">
                                    <span class="dm-table-l dm-pr-16">ID <span class="dm--make-user-selectable">638101393</span></span>
                                    <span class="dm-table-r dm-pl-16"><span class="dm__mybets__item__status-badge dm--oe">New</span></span>
                                </div>
                                <div class="sc-crzoUp ckdniF">
                                    <div class="sc-dIsAE fAqyoS">Date</div>
                                    <div class="sc-bqGHjH iIYLbF  ">
                                        <div class="dm__mybets__item__row"><span>11-02-2021 11:09</span></div>
                                    </div>
                                </div>
                                <div class="sc-crzoUp ckdniF">
                                    <div class="sc-dIsAE fAqyoS">Bet type</div>
                                    <div class="sc-bqGHjH iIYLbF  ">
                                        <div class="dm__mybets__item__row"><span>Single (Live) </span></div>
                                    </div>
                                </div>
                                <div class="sc-crzoUp ckdniF">
                                    <div class="sc-dIsAE fAqyoS">Amount</div>
                                    <div class="sc-bqGHjH iIYLbF  ">
                                        <div class="dm__mybets__item__row"><span>50 AMD</span></div>
                                    </div>
                                </div>
                                <div class="sc-crzoUp ckdniF">
                                    <div class="sc-dIsAE fAqyoS">Possible Winning</div>
                                    <div class="sc-bqGHjH iIYLbF  ">
                                        <div class="dm__mybets__item__row"><span>101 AMD</span></div>
                                    </div>
                                </div>
                                <div class="dm__mybets__button_cont">
                                    <div class="dm__button_cont"><input type="button" class="dm__btn dm__btn--primary dm__btn-shadow" value="CashOut (27 AMD)"></div>
                                    <div class="dm__button_cont">
                                        <a class="dm__btn dm__btn-shadow dm__btn--secundary dm-display-block">Cheque Redact</a>
                                    </div>
                                    <div class="dm__button_cont" data-element-name="bet-history-repeat-bet-button"><input type="button" class="dm__btn dm__btn--confirm dm__btn-shadow" value="Repeat The Bet"></div>
                                </div>
                                <div class="dm__mybets_more_cont dm-mb-8">
                                    <a class="dm__mybets_more_cont_item">
                                        <div class="dm__mybets_game dm-display-flex ">
                                            <span class="dm__mybets-status dm__mybets-status-1"></span>
                                            <div class="dm-display-flex dm--flex-col dm--take-av-width">
                                                <div class="dm__mybets_game__champ-name dm__homepage__sport_tournament_heading dm-px-16 dm--height-auto">Women. Nepal Championship</div>
                                                <div class="dm__mybets_game__info dm-display-flex">
                                                    <i class="icon_sport-football font_digi-sport"></i>
                                                    <div class="dm__mybets_game__teams dm--take-av-width dm-display-flex">
                                                        <div class="dm__mybets_game__team dm-display-flex dm--flex-col dm--take-av-width">
                                                            <div class="dm-display-flex dm--flex-col dm--text-underline">
                                                                <span class="dm__teamname">Chaudandigadhi Municipality(W)</span>
                                                                <span class="dm__teamname">Waling Municipality (W)</span>
                                                            </div>
                                                            <div class="dm__mybets_game__date ">
                                                                <span>11-02-2021  10:15</span>
                                                            </div>
                                                        </div>
                                                        <div class="dm-display-flex dm--flex-col dm--border-bottom">
                                                            <div class="dm__result_more__score">
                                                                <span class="dm--akcented"></span>
                                                                <span>1</span>
                                                                <span>0</span>
                                                            </div>
                                                            <div class="dm__result_more__score">
                                                                <span class="dm--akcented"></span>
                                                                <span>3</span>
                                                                <span>2</span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </a>
                                    <div>
                                        <div class="dm-table dm__mybets-res-row dm-px-16">
                                            <span class="dm-table-l">Bet</span>
                                            <span class="dm-table-r">Handicap: Handicap 1 (+5)</span>
                                        </div>
                                        <div class="dm-table dm__mybets-res-row dm-px-16">
                                            <span class="dm-table-l">Odds</span>
                                            <span class="dm-table-r">2.03</span>
                                        </div>
                                        <div class="dm-table dm__mybets-res-row dm-px-16">
                                            <span class="dm-table-l">Status</span>
                                            <span class="dm-table-r">Pending</span>
                                        </div>
                                        <div class="dm-table dm__mybets-res-row dm-px-16">
                                            <span class="dm-table-l">Score at time of placing bet</span>
                                            <span class="dm-table-r">52m, 1:3(1:3, 0:0) [1st half] </span>
                                        </div>
                                    </div>
                                </div>
                                <div class="dm-mt-8"></div>
                                <div class="dm__mybets__more dm--fully-centered dm__mybets__more--active">
                                    <span>Bet Details</span>
                                    <svg class="dm--svg-icon undefined" version="1.1" viewBox="0 0 24 24"><polygon points="7.4,8.3 12,12.9 16.6,8.3 18,9.7 12,15.7 6,9.7 	"></polygon></svg>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
</body>



<script src="/tinyColor.js"></script>
<script src="/cuid.js"></script>
<script src="/neuron.js"></script>
<script src="/cssTemplates/sportMobile.js"></script>
<script src="/skinner.js"></script>


</html>